/* Default styles for all screen sizes */
.biggestDiv {
  margin-top: 40px;
  width: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.as-line {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.nameInput,
#order-phone,
.emailInput,
.selct,
.additionInput {
  background: #fafafa;
  padding: 1.5vw;
  font-size: 1.5vw;
  border: none;
}

.contactText,
.emailText,
.additionText {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 150%;
  vertical-align: baseline;
}

.number {
  display: flex;
}

/* Media queries for responsive adjustments */
@media screen and (max-width: 767px) {
  .as-line {
    justify-content: start;
    gap: 12px;
  }
  .form-row {
    display: flex;
    flex-direction: row;
    gap: 4px;
   }
  
  /* Adjust font size and padding for smaller screens */
  .nameInput,
  #order-phone,
  .emailInput,
  .selct,
  .additionInput {
    font-size: 3vw;
    padding: 3vw;
  }
  .nameText{
    letter-spacing: -1px;
    font-size: larger;
    font-weight: 500;
  }

  /* Adjust font size for smaller screens */
  .contactText,
  .emailText,
  .additionText {
    font-size: 120%;
  }

  /* Stack the elements vertically on smaller screens */
  .bigDiv,
  .as-line,
  .number {
    flex-direction: column;
    align-items: start;
  }
  .biggestDiv{
    margin-top: -30px;
  }
}

.ss-calculate{
  
}