.ds-mega-cn{
  padding: 0 50px;
}
.ds-container{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  width: 100%;
  gap: 100px;
}

.time-pc {
  max-width: 50%;
}

@media only screen and (max-width: 600px) {
  .ds-mega-cn{
  padding: 0 4%;
}
.row-name{
  margin-left: 20px;
  margin-bottom: 40px;
}
  .ds-container{
    margin: 0 20px;
    flex-direction: column;
    padding: 0;
  }
}