.ds-container{
  margin-top: 60px;
  display: flex;
  padding: 0 0px;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
}

.time-pc {
  max-width: 38%;
}
.hr{
  width: 500px;
}

@media only screen and (max-width: 767px) {
.time-pc{
  max-width: 100%;
}
.row-name{
  margin-left: 20px;
  margin-bottom: 40px;
}
  .ds-container{
    flex-direction: column;
    padding: 0;
  }
  .ds-hours{
    margin: auto;
  }
}