/* TimePicker.css */

.time-picker-container {
    text-align: center;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .tm-btn-cn{
    margin-top: 160px;
  }
  
  .time-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  
  .time-button {
    padding: 8px 16px;
    margin: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .time-button.selected {
    background-color: #0eca2d;
    color: #fff;
  }
  
  @media only screen and (max-width: 600px) {
    .time-picker-container {
      margin-top: 0;
    }
    .tm-btn-cn{
      margin-top: 40px;
    }
    
    .time-buttons {
      width: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 0px;
    }
    
    .time-button {
      padding: 8px 16px;
      margin: 4px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer;
    }
    
    .time-button.selected {
      background-color: #0eca2d;
      color: #fff;
    }
  }