@import url("https://fonts.cdnfonts.com/css/futura-pt");

.lng-hone{ 
    font-family: 'Futura PT',sans-serif;
    font-weight: 700; 
    font-size: 2vw; 
    margin-bottom: 1.5vw; 
    line-height: 2.4vw; 
} 
 
.firstdiv{ 
    width: 70%; 
    padding: 50px; 
    padding-bottom: 300px; 
} 
 
.lng-pone{ 
    font-size: 140%; 
    font-family: 'Futura PT',sans-serif;
} 
 
.pone span{ 
    font-weight: 800; 
} 
 
.pta{ 
    position: relative; 
    width: 50%; 
} 
 
.seconddiv{ 
    padding: 50px; 
    display: flex; 
} 
 
.lng-subscribe{ 
    font-size: 180%; 
} 
 
.subscribe_input{ 
    padding: 30px; 
    font-size: 180%; 
    border: none; 
    width: 50%; 
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
    background-color: rgba(0,0,0,.05); 
} 
 
.lng-subscribe_button{ 
    background-color: #1c47a6; 
    cursor: pointer; 
    color: white; 
    font-size: 150%; 
    padding-top: 34px; 
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
    border: none; 
    padding-bottom: 31px; 
    padding-left: 100px; 
    padding-right: 100px; 
} 
 
.subscribe_unsubscribe{ 
    padding-left: 30px; 
    color: rgb(219, 219, 219); 
} 
 
.facebook{ 
    margin-left: 10px; 
    cursor: pointer; 
    text-decoration: none;
    width: 5vw; 
    height: 5vw; 
    color:white; 
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border: none; 
    border-radius: 0.3vw; 
    background: #4869ad; 
} 

.instagram{ 
    margin-left: 10px; 
    text-decoration: none;
    cursor: pointer; 
    width: 5vw; 
    height: 5vw; 
    color:white; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #e23b47; 
    border: none; 
    border-radius: 0.3vw; 
} 
.telegram{ 
    margin-left: 10px; 
    text-decoration: none;
    cursor: pointer; 
    width: 5vw; 
    height: 5vw; 
    color:white; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #e23b47; 
    border: none; 
    border-radius: 0.3vw; 
    background: #08c; 
} 
.youtube{ 
    margin-left: 10px; 
    cursor: pointer; 
    text-decoration: none;
    width: 5vw; 
    height: 5vw; 
    color:white; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: #e23b47; 
    border: none; 
    border-radius: 0.3vw; 
    background: #eb3223; 
} 
 
.social_network{ 
    width: 50%; 
    display: flex; 
    justify-content: end; 
}

#span{
    font-weight: 800;
}