@import url("https://fonts.cdnfonts.com/css/futura-pt");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Futura PT", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.category-img {
  width: 38px;
  height: 38px;
}
.orders1 {
  margin: 0 auto !important;
  text-align: center;
  padding: 10px;
}

.select-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #f0f0f0;
}

.selected-option img {
  width: 30px;
  height: 24px;
  margin-right: 0.5rem;
}

.selected-option-name {
  margin: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-item img {
  width: 30px;
  height: 24px;
  margin-right: 0.5rem;
}

.dropdown-item-name {
  margin: 0;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
.menu-icon {
  padding: 15px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 100px;
  display: block;

  border: none;
}
.menu-icon:hover {
  background-color: #e9ecef;
}
.iconn {
  width: 30px;
  height: 30px;
}

.menu-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  font-size: 25px;
  background-color: #f8f9fa;
  width: 800px;
  padding: 50px 150px;
}
.menu-content a {
  text-decoration: none;
}
.menu-content a:hover {
  box-shadow: 0 1px 0 black;

  transition: all 0.3s;
}

.hr{
  margin: 50px 0;
  position: relative;
  border-top: 2px dashed black;
  width: 100vw;
  height: 1px;
  left: -5vw;
}

.row-name{
  margin: 40px , auto;
  opacity: .2;
  font-weight: 700;
  text-transform: uppercase;
}

.sm-continue{
  width: 320px;
  height: 80px;
  font-size: 32px;
  background-color: #1c47a6;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}