.mega-payment-container{
  display: flex;
  width: 100%;
  height: auto;
}
.payment-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    gap: 28px;
    padding: 0 50px 50px 50px;
  }
  .p-row-name{
    text-align: start;
  }
  
  .payment-header {
    margin-bottom: 20px;
  }
  
  .payment-methods {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: 0 auto;
  }
  
  .payment-method {
    width: 360px;
    height: 100px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 10px 36px;
    margin: 5px 20px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .payment-active {
    border: #1c47a6 solid 3px;
  }
  
  .order-info {
    margin-bottom: 20px;
  }

  .agreement-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .agreement-container input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(2.5);
  }
  
  .agreement-container label {
    font-size: 28px;
  }
  

  
  .order-button {
    width: 680px;
    height: 120px;
    font-size: 32px;
    background-color: #1c47a6;
    color: white;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 700;
  }
  
  .left-payment-container{
    padding-top: 20px;
    width: 30%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: top;
    background-color: #f2f2f2;
  }
  .left-payment-container > div{
    margin-left: 32px;
    align-self: flex-start;
    font-size: x-large;
    letter-spacing: 1px;
    margin-top: 8px;
  }

  .p-data{
    font-size: x-large;
    letter-spacing: -1px;
    font-weight: 600;
  }

  @media screen and (max-width: 767px) {
    .mega-payment-container{
      flex-direction: column;
      padding: 0;
      margin: 0;
    }

    .payment-container{
      padding: 0;
      width: 100%;
    }
    
    .payment-method {
      width: 140px;
      padding: 8px 36px;
    }
    .agreement-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .agreement-container input[type="checkbox"] {
      margin-right: 10px;
      transform: scale(1.5);
    }
    
    .agreement-container label {
      font-size: 12px;
    }

    .order-button {
      width: 100%;
      height: 80px;
      font-weight: 500;
    }
    .left-payment-container{
      display: none;
    }
  }